@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #383838;
    font-family: 500;
}

p {
    font-size: 18px;
    color: #383838;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

body {
    width: 100%;
}


/*----------------------------------------HEADER----------------------------------------*/
#header {
    background: #eeeeee;
    box-shadow: 0 2px 0 0  #383838;
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    width: 100vw;
}

#header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    max-width: 1200px;
    margin: 0 auto;
}

#header a {
    text-decoration: none;
}

button.basic {
    font-size: 18;
    font-weight: 500;
    padding: 14px 60px;
    color: #eeeeee;
    background-color: #383838;
    cursor: pointer;
    border: 1px solid #eeeeee;
    outline: none;
    transition: 0.3s;
}

button.basic:hover {
    background-color: #5c5c5c;
}

button.basic:hover::after {
    background-color: #5c5c5c;
}


/*----------------------------------------NAVBAR----------------------------------------*/
#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 300px;
    color: #5c5c5c;
    transition: 0.3s ease;
}

#navbar li a:hover, #navbar li a.active {
    color: #383838;
}

#navbar li a.active::after, #navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #383838;
    position: absolute;
    bottom: -4px;
    left: 20px;
}


/*----------------------------------------UPLOAD IMAGE----------------------------------------*/
#upload_card_image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
    background-color: #ffffff;
    gap: 20px;
}

#upload_card_image .upload_image_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}


/*----------------------------------------PREVIEW IMAGE----------------------------------------*/
#preview_container {
    width: 100%;
    max-width: 1200px; /* optional: limit how huge the image gets */
    margin: 0 auto;
}

#preview_image {
    width: 20%;
    height: auto;
    object-fit: contain;
    display: block;
}


/*----------------------------------------TABLE----------------------------------------*/
#results .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    max-width: 1200px;
    margin: 0 auto;
    overflow-x: auto;
}

table {
    max-width: 1200px;
    width: 100%;
    border-collapse: collapse;
    background: #eeeeee;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    overflow: hidden;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #383838;
    text-align: left;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

th {
    background-color: #333;
    color: #eeeeee;
}

tr:hover {
    background-color: #f1f1f1;
}


/*----------------------------------------UPLOAD ANOTHER----------------------------------------*/
#upload_another {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}